:root {
    --color-red: #AF2323;
    --bg-color: #efe9df;
    --text-white: #fff;
    --text-black: black;
}

body {
    background-color: var(--bg-color);
}

.btn {
    background-color: var(--color-red);
    color: var(--text-white);
}

a {
    color: var(--text-black);
}

main > button > a {
    color: var(--text-white);
}

.product-card {
    background-color: var(--text-white);
}

.addtocart-btn {
    background-color: var(--text-black);
    color: var(--text-white);
}

.card1 {
    background-color: white;
}
/* .card-2 {
    background-color: var(--text-white);
}

.card-2 button {
    background-color: var(--text-black);
    color: var(--text-white);
} */

.about {
    background-color: var(--text-white);
}