:root {
    --color-red: #AF2323;
    --bg-color: #efe9df;
    --text-white: #fff;
    --text-black: black;
    --color-gray: #737888;
    --color-lighter-gray: #e3e5ed;
    --color-light-gray: #f7f7fa;
}

body {
    background-color: var(--bg-color);
}

.btn {
    background-color: var(--color-red);
    color: var(--text-white);
}

a {
    color: var(--text-black);
}

.fa-heart {
    color: var(--color-red);
  }

main > button > a {
    color: var(--text-white);
}

.product-card {
    background-color: var(--text-white);
}

.addtocart-btn {
    background-color: var(--text-black);
    color: var(--text-white);
}

.card1 {
    background-color: white;
}
/* .card-2 {
    background-color: var(--text-white);
}

.card-2 button {
    background-color: var(--text-black);
    color: var(--text-white);
} */

.about {
    background-color: var(--text-white);
}

.footer-container {
    background-color: black;
    color: white;
}

.footer-left {
    color: white;
}

.footer-right > ul > li > a {
    color: white;
    font-size: 12px;
    line-height: 1.6rem;
}

#email {
    background-color: black;
    border: 1px solid white;
}

.copyright {
    background-color: black;
    color: white;
}

/* Product Page */
.d-container {
    background-color: white;
}
 
.categories a{
    background-color: white;
}

.categories a:hover {
    background-color: var(--color-red);
    color: white;
    transition: 0.5s;
}

/* CHECKOUT */
.checkout-left hr {
    color: #737888;
}


.shipping-form p {
    color: var(--color-gray);
}

.shipping-form hr {
    background-color: var(--color-light-gray);
}

.shipping-form .p-btn {
    width: 100%;
}



