  * {
    box-sizing: border-box;
  }

/* Nav Bar */
nav {
    text-align: center;
}

nav .header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    text-align: center;
}

nav .header .li-left {
    width: 10%;
}

nav .header .li-center {
    width: 80%;
}

nav .header .li-right {
    width: 10%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55mm;
}

.icon {
    font-size: 30px;
}

.nav-text{
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 0;
    padding: 20px;
}

.nav-text > li {
    display: inline-block;
    padding: 0px 80px;
}

a {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.btn {
    margin-top: -16px;
    padding: 16px;
    border: none;
}

.btn:hover {
    opacity: 0.7;
}

/* Best Sellers */

  @media all and (min-width:768px) { 
    .container-block {padding: 4% 8%;}
  }
  @media all and (max-width:767px) { 
    .container-block {padding: 11% 8%;} 
  }

  .outer1 {
    font-family: 'jeko-regular';
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
  }

  .outer1 h1 {
      font-size: 24px;
      margin-top: 4em;
      margin-bottom: 1em;
  }

  .cards1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    align-items: stretch;
  }  
  .card1 {
    flex: 0 0 auto;
    width:300px;
    margin: 10px 10px 40px 10px;
    border: 1px solid black;
    transition: 0.5s;  
    border-radius: 11px;
  }
  .card1:nth-child(1) {
    margin-left:0px;
  }

  .cards1 > .card1 {
    flex: 0 0 auto; /*grow | shrink | basis */
  }
 
  .card1 img {
      width:70mm;
  }
  .card1:hover {
    transform: scale(1.05);
    background-color: #AF2323;
    color: white;
  }
  .card1-bottom {
    background: black;
    color: white;
    padding: 10px;
    width: 100%;
    display: inline-block;
    margin-bottom: -4px;
    text-transform: uppercase;
    border-radius: 0px 0px 13px 13px;
  }


  .image-size {
      text-align: center;
  }

/* About */
.about {
  display: block;
}

.about img{
  width: 100mm;
  margin-left: 6%;
  padding: 0;
}

.about-text {
  width: 80%;
  margin: auto;
  text-align: left;
}

.about .cardflower {
  width: 30mm;
  margin: 0;
  align-content: center;
}
