/* Nav Bar */
nav {
    text-align: center;
}

nav .header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    text-align: center;
}

nav .header .li-left {
    width: 10%;
}

nav .header .li-center {
    width: 80%;
}

nav .header .li-right {
    width: 10%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55mm;
}

.icon {
    font-size: 30px;
}

.nav-text{
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 0;
    padding: 20px;
}

.nav-text > li {
    display: inline-block;
    padding: 0px 80px;
}

a {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.btn {
    margin-top: -16px;
    padding: 16px;
    border: none;
}

.btn:hover {
    opacity: 0.7;
}

/* Best Sellers */
.container {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 80%;
}

.container i {
    justify-self: center;
    align-self: center;
}

.container h1 {
    margin-left: 10%;
    margin-top: 8%;
}

.grid-items {
    display: grid;
    grid-template-columns: 10.1% 26.6% 26.6% 26.6% 10.1%;
    
}

.product-card {
    display: block;
    border: 1px solid;  
    margin: 8px;
}

.product-card img {
    width: 70%;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
}

.product-card button {
    width: 100%;
}

/* .product-card {
    display: grid;
    grid-template-rows: 3rem 14rem 3rem;
    grid-template-areas:
    "header"
    "img"
    "button";
    border: 1px solid;
    margin: 10px;
} */

.container .product-card header {
    grid-area: header;
    margin-right: auto;
    padding: 12px;
}

/* .container .product-card img {
    grid-area: img;
    justify-self: center;
    align-self: auto;
    width: 70%;
} */

.container .product-card button {
    grid-area: button;
}

.addtocart-btn {
    border: none;
    text-align:left;
    justify-self: space-between;
    padding: 12px;
}

.addtocart-btn .price {
    text-align: right;
}


/* .h-container {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    justify-content: space-between;
}

.h-container .header {
    margin-right: 60%;
} */


/* .card {
    display: inline-block;
    margin: 5%;
    padding: 0;
    max-width: 20%;
    height: 100mm;;
    border: 1px solid;
    justify-content: space-between;
} */
/* 
.card-2 button {
    border: none;
    outline: 0;
    padding: 12px;
    text-align: left;
    cursor: pointer;
    width: 100%;
}

.card-2 button:hover {
    opacity: 0.7;
}

.image-size {
    width: 60mm;
}

* {
    box-sizing: border-box;
}
.cards-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.card-2 {
  width: 25%;
  margin: 13px;
  border: 1px solid black;
} 
.card-2 img {
  max-width: 100%;
  justify-content: center;
  padding: 50px;
}
.card-2 .text {
  padding: 0 20px 20px;
}
.card-2 .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
.cards-2:nth-child(1) {
/*width: 420px;*/
/* }
.cart-left {
    float: left;
}

.cart-right {
    float: right;
}

.product-name {
    padding: 10px;
} */ */

/* About */
/* .about {
    display: flex;
    width: 100%;
    padding-left: 60px;
}

.about-logo {
    padding-left: 60px;
} */


/* outer1 */
  
@font-face {
    font-family: 'jeko-regular';
    src: url(fonts/Jeko\ Regular.ttf);
  }
  
  * {
    box-sizing: border-box;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: -10px;
  }
  
  .card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    transition: 0.5s;  
  } 
  
  .cards > .card {
    flex: 1 1 30%; /*grow | shrink | basis */
  }
  
  .card img {
    /*max-width: 100%;*/
  }
  
  .card .text {
    padding: 0 20px 20px;
  }
  
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
  }
  
  .card:nth-child(1) {
    /*width: 520px;*/
  }

  .card:hover {
    transform: scale(1.05);
  }

  .outer {
    font-family: 'jeko-regular';
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
  }

  .btn-left {float:left;}
  .btn-right {float:right;}
  
  .card-bottom {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: auto; /* fixed to bottom */
  }
  @media all and (min-width:768px) { 
    .container-block {padding: 4% 8%;}
  }
  @media all and (max-width:767px) { 
    .container-block {padding: 11% 8%;} 
  }

  .outer1 {
    font-family: 'jeko-regular';
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
  }

  .outer1 h1 {
      font-size: 24px;
      margin-top: 4em;
      margin-bottom: 1em;
  }

  .cards1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    align-items: stretch;
  }  
  .card1 {
    flex: 0 0 auto;
    width:300px;
    margin: 10px 10px 40px 10px;
    border: 1px solid black;
    transition: 0.5s;  
    background: white;
    border-radius: 11px;
  }
  .card1:nth-child(1) {
    margin-left:0px;
  }

  .cards1 > .card1 {
    flex: 0 0 auto; /*grow | shrink | basis */
  }
  .card1 .text {
    padding: 12px;
    text-transform: uppercase;
    /* height:150px; */
  }
  .card1 img {
      width:70mm;
  }
  .card1:hover {
    transform: scale(1.05);
    background-color: #AF2323;
    color: white;
  }
  .card1-bottom {
    background: black;
    color: white;
    padding: 10px;
    width: 100%;
    display: inline-block;
    margin-bottom: -4px;
    text-transform: uppercase;
    border-radius: 0px 0px 7px 7px;
  }


  .card1 .text1 {
    height:20px;
  }

  .image-size {
      text-align: center;
  }