* {
  box-sizing: border-box;
}

/* Nav Bar */
nav {
  text-align: center;
}

nav .header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right:auto;
  padding: 0;
  text-align: center;
}

nav .header .li-left {
  width: 10%;
}

nav .header .li-center {
  width: 80%;
}

nav .header .li-right {
  width: 10%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55mm;
}

.icon {
  font-size: 30px;
}

.nav-text{
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 0;
  padding: 20px;
}

.nav-text > li {
  display: inline-block;
  padding: 0px 80px;
}

a {
  text-decoration: none;
}

/* Banner & Shop Now button */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.btn {
  margin-top: -16px;
  padding: 16px;
  border: none;
}

.btn:hover {
  opacity: 0.7;
}

/* Best Sellers & New Arrival */

.outer1 {
  font-family: 'jeko-regular';
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
}

.outer1 h1 {
    font-size: 24px;
    margin-top: 4em;
    margin-bottom: 1em;
}

/* Adds slidebar to Product cards */
.cards1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  align-items: stretch;
}  
.card1 {
  flex: 0 0 auto;
  width:300px;
  margin: 10px 10px 40px 10px;
  border: 1px solid black;
  transition: 0.5s;  
  border-radius: 11px;
}
.card1:nth-child(1) {
  margin-left:0px;
}

.cards1 > .card1 {
  flex: 0 0 auto; /*grow | shrink | basis */
}

.card1 img {
    width:70mm;
}
.card1:hover {
  transform: scale(1.05);
  background-color: #AF2323;
  color: white;
}
.card1-bottom {
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
  display: inline-block;
  margin-bottom: -4px;
  border: 1px solid black;
  border-radius: 0px 0px 9px 9px;
}


.image-size {
    text-align: center;
}

/* About */
.about {
display: block;
}

.about img{
width: 100mm;
margin-left: 6%;
padding: 0;
}

.about-text {
width: 60%;
margin: auto;
text-align: justify;
line-height: 2.4rem;
}

.about .cardflower {
width: 30mm;
background-color: white;
margin: 15mm 15mm;
margin-left: 45%;
margin-right: 45%;
}

/* Footer */
footer {
background-color: black;
}

footer h1 {
margin-left: 6%;
padding: 20px;
}

/* SHOP */
.categories {
  display: flex;
  width: 70%;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.categories a {
  border: 1px solid black;
  border-radius: 50px;
  padding: 12px; 
}

.title-list {
  width: 80%;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.title {
  float: left;

}

.dropdown {
  float: right;
}

i {
  float: right;
}

/* Dropdown Menu (SORT) */
.dropbtn {
  background-color: white;
  color: grey;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
  display: block;
}

.cards {
display: flex;
flex-wrap: wrap;
align-items: stretch;
margin: -10px;
}

.card {
width: 200px;
margin: 15px 10px 15px 10px;
border: 1px solid black;
background-color: white;
display: flex;
flex-direction: column;
transition: 0.5s;  
border-radius: 11px;
} 

.cards > .card {
flex: 1 1 20%; /*grow | shrink | basis */
}

.product-list h2 {
margin: 20mm 0 10mm 0;
}

.card img {
width:70mm;
padding: 13px;
}

.card img:hover {
transform: scale(1.1);
transition: 0.5s;
}

.card a {
  text-align: center;
}

.card .text {
padding: 12px 12px 12px;
margin: 0;
}

.card .text > button {
background: gray;
border: 0;
color: white;
padding: 10px;
width: 100%;
}

.product-list {
font-family: 'jeko-regular';
width: 80%; 
margin-left: auto;
margin-right: auto;
}

.btn-left {float:left;}
.btn-right {float:right;}

.card-bottom {
background: black;
border: 1px solid black;
color: white;
padding: 10px;
width: 100%;
margin-top: auto; /* fixed to bottom */
border-radius: 0 0 8px 8px;
}

.text-left {
float:left;
margin-top: 5px;
}
.text-right {
float:right;
font-size: 26px;
}

.lnr-heart:hover {
transform: scale(1.3);
transition: 0.5s;
}

/* Footer */
.footer-container {
display: flex;
flex-direction: row;
padding-top: 6%;
flex: 1 1 40%;
}

.footer-left {
width: 50%;
padding-left: 10%;
padding-right: 10%;
}

.footer-right {
display: block;
padding-bottom: 5rem;
padding-right: 10%;
padding-left: 10%;
}

#email {
width: 100%;
margin-top: 1rem;
padding: 10px;
border-radius: 50px;
}

.copyright {
font-size: 12px;
width: 100%;
padding-bottom: 30px;
padding-left: 10%;
}

/* Product Page */
.p-container {
display: flex;
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 1.5rem;
margin-bottom: 5rem;
}

.p-left {
display: flex;
flex-wrap: nowrap;
overflow-x: auto;
width: 55%;
align-items: stretch;
}

.p-img {
background-color: white;
border: 1px solid black;
border-radius: 10px;
padding: 16px;
margin: 6px;
}

.p-content h2 {
padding-left: 1rem;
padding-top: 1rem;
}

.p-content h3 {
padding-left: 1rem;
padding-top: 0.3rem;
}

.p-right {
display: flex;
flex-flow: column;
width: 45%;
}

.p-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: flex-start;
}

.p-content .p-size {
  width: 90%;
}

.p-content heart {
  width: 10%;
  float: right;
}

.p-btn {
  border: 1px solid black;
  border-radius: 50px;
  background-color: black;
  padding: 20px;
  width: 90%;
  margin-top: 0.6rem;
  align-self: center;
}

.p-btn {
  text-align: center;
  cursor: pointer;
}

.p-btn:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.p-right .counter {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 18px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 10%; 
  margin-top: 30%;
}

.c-btn {
  width: 10%;
  text-align: center;
}

.count {
  width: 80%;
  text-align: center;
}


.count{
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
 }

 .details-box {
   width: 60%;
   margin-left: auto;
   margin-right: auto;
 }

.details-head {
  margin-bottom: 20px;
}

.d-container {
  margin-top: -3rem;
}

.d-text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.d-head {
  margin-left: 10%;
  padding-top: 5rem;
}

.d-container p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1.5rem;
  padding-bottom: 5rem;
}

.outer2 {
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.bottom-cards {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cards2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  align-items: stretch;
}

.cards2 img {
  padding: 20px;
}

.p-head {
  margin-left: 10%;

  padding-top: 5rem;
  margin-bottom: 1rem;
}

.card2 {
  flex: 0 0 auto;
  width:300px;
  height: 400px;
  margin: 10px 10px 40px 10px;
  border: 1px solid black;
  transition: 0.5s;  
  border-radius: 11px;
  background-color: white;
}

.card2:hover {
  transform: scale(1.05);
  background-color: #AF2323;
  color: white;
}

hr {
  width: 80%;
  height: 1px;
  border: none;
  margin-top: 3rem;
  background-color:#666;
  opacity: 0.7;
}

.text1 {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: 12px;
}

/* SHOPPING CART */
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidepanel-show {
  width: 40vw;
}
.sidepanel-close {
  width: 0;
}

.sidepanel-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20%;
  padding-left: 8%;
}

.sidepanel-img {
  width: 20%;
}

.sidepanel-img img {
  width: 7em;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 8px;
}

.sidepanel-header {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 80%;
}

.sidepanel-text {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  justify-self: center;
  padding-left: 15px;
}

.sidepanel-price {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
}

.sidepanel-header2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: 25%;
}

.sidepanel-bottom {
  width: 100%;
}

.sub-amount {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.total-amount {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
}

.sidepanel-bottom {
  padding-right: 25px;
  margin-top: 40%;
}

.sidepanel-bottom hr {
  width: 100%;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .cart-header {
  position: absolute;
  top: 0;
  left: 25px;
  padding: 15px 15px;
  margin-top: 1.5rem;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-top: 1.5rem;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}

.counter2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-btn2{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}
.count2{
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
}

.sidepanel .p-btn {
  position:absolute;
  left: 25px;
  right: 25px;
  bottom: 20px;
}

.checkout-box {
  background-color: white;
  box-shadow: 0px 13px -3px rgba(0,0,0,0.83)
}

/* CHECKOUT */
.checkout {
  display: flex;
}

.checkout-left {
  background: white;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  box-shadow: 4px 1px 11px 2px rgba(115,115,115,0.39);
}

.checkout-left hr {
  width: 100%;
  opacity: 0.5;
}

.shipping-form h1 {
  margin-bottom: 1rem;
}

.shipping-form hr {
  height: 1px;
  width: 100%;
  border: 0;
  margin: 2rem 0;
}

.shipping-form {
  max-width: 40rem;
  padding: 5vw 2rem 0;
  margin: 0 auto;
  height: 100vh;
}

.form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lighter-gray);
  padding: .5rem;
  border-radius: .25rem;
}

.field__label {
  color: var(--color-gray);
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #000;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.button:focus-visible {
  background-color: #333;
}

.checkout-right {
  width: 40%;
  padding: 5%;
}

.checkout-right h4 {
  margin-bottom: -15px;
}

.checkout-right hr {
  width: 100%;
  opacity: 0.5;
}

.sum-img {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sum-img img {
  width: 7rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px;
}

.sum-bottom {
  margin-top: 30%;
  display: inline-block;
  width: 100%;
}

.sum-bottom hr {
  margin-bottom: 50px;
}

.sum-text {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

/* Confirmation */
.confirmation {
  display: inline-block;
  width: 80%;
  margin: 10%;
  text-align: center;

}

.greentick img {
  width: 15%;
  margin-top: 5rem;
}

.confirmation-h2 {
  margin-top: 0.8rem;
}

.li-back {
  margin-top: 15%;
  text-decoration: underline;
}

.main-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

/* IPHONE13 */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .main-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

.center {
  width: 100%;
}

  .sidepanel-show {
    width: 100vw;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .about-text {
    font-size: 14px;
  }

  .about .cardflower {
    justify-self: center;
  } 

  .sidepanel-img img {
    margin-top: 20%;
    width: 20vw;
  }

  .checkout-left {
    width: 100%;
  }

  .checkout-right {
    display: none;
  }

  .categories {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .categories a {
    padding-bottom: 0;
  }

  .p-container {
    flex-wrap: wrap;
    width: 90%;
  }

  .p-left {
    width: 100%;
  }

  .p-right {
    width: 100%
  }

  .counter {
    margin-bottom: 5%;
  }

  .sidepanel-bottom {
    margin-top: 80%;
  }

  .sidepanel-container {
    padding-right: 10px;
  }

  .outer2 {
    margin-top: 100%;
  }

  .p-content {
    margin-bottom: -10%;
  }

  .details-box {
    width: 80%;
  }

  .confirmation {
    margin-top: 30%;
  }

  .confirmation-h1 {
    font-size: 25px;
  }

  .confirmation-h2 {
    font-size: 20px;
  }

  .greentick img {
    width: 60%;
  }

  .li-back {
    margin-top: 80%;
  }

}
