@font-face {
    font-family: 'jeko-regularregular';
    src: url('fonts/jeko_regular-webfont.woff2') format('woff2'),
         url('fonts/jeko_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'jeko-blackregular';
    src: url('jeko_black-webfont.woff2') format('woff2'),
         url('jeko_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'jeko-mediumregular';
    src: url('jeko_medium-webfont.woff2') format('woff2'),
         url('jeko_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --navtext: 'jeko-regularregular';
    --header: 'jeko-black';
    --product-name: 'jeko-mediumregular';
}

/* Nav Bar */
.nav-text {
    font-family: var(--navtext);
    font-size: 18px;
}

.btn {
   font-family: var(--navtext);
   font-size: 22px;
}

/* Best Sellers */
.container h1 {
    font-family: var(--header);
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.product-card header {
    font-family: var(--navtext);
    text-transform: uppercase;
    font-size: 12px;
}

.addtocart-btn {
    font-family: var(--navtext);
    font-size: 14px;
}

.cards h1 {
    font-family: var(--header);
}

.card1 .text {
    padding: 12px;
    text-transform: uppercase;
    /* height:150px; */
  }


  .card1 .text1 {
    height:20px;
  }


/* About */

.about-text {
    font-family: var(--navtext);
    font-size: 22px;
    text-transform: uppercase;
}

footer h1 {
    font-family: var(--navtext);
    font-size: 36px;
}

/* SHOP */
.product-list h2 {
    font-family: var(--navtext);
    font-size: 24px;
}

.title {
    font-family: var(--navtext);
    font-size: 24px;
}
.card .text {
    font-family: var(--navtext);
    font-size: 14px;
    text-transform: uppercase;
}

.categories {
    font-family: var(--navtext);
}

/* Footer */
.footer-container {
    font-family: var(--navtext);
}

.footer-left {
    font-size: 20px;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container > .footer-right > ul > li > a {
    line-height: 2.6em;
    font-size: 13px;
  }
  

/* Product */
.p-right h2 {
    font-family: var(--header);
    font-size: 22px;
    padding-left: 1rem;
    padding-top: 1rem;
}

.p-right h3 {
    font-family: var(--navtext);
    font-size: 20px;
    padding-left: 1rem;
    padding-top: 0.3rem;
}


.p-btn {
    font-family: var(--navtext);
    font-size: 20px;
    color: white;
}

.d-head {
    font-family: var(--header);
    text-transform: uppercase;
    font-size: 16px;
}

.d-container p {
    font-family: var(--navtext);
    line-height: 1.5rem;
    font-size: 20px;
    text-align: justify;
}

.p-head {
    font-family: var(--header);
    font-size: 30px;
    color: white;
}


.text1 {
    font-family: var(--navtext);
}

.counter .count {
    font-family: var(--navtext);
}

/* SHOPPING CART */
.sidepanel .cart-header {
    font-family: var(--header);
    font-size: 28px;
}

.sp-font {
    font-family: var(--navtext);
}

.sp-font {
    font-size: 16px;
}

.c-btn2 { 
    font-family: var(--navtext);
}

.counter2 .count2 {
    font-family: var(--navtext);
}

/* CHECKOUT */
.checkout-left h1 {
    font-family: var(--header);
    font-size: 42px;
}

.checkout-left a {
    font-family: var(--navtext);
    text-decoration: underline;
    font-size: 14px;
}

.shipping-form p {
    font-family: var(--navtext);
}

.shipping-form h1 {
    font-family: var(--header);
    font-size: 28px;
}

.checkout-right h4 {
    font-family: var(--navtext);
}

.sum-img {
    font-family: var(--navtext);
}

.sum-text {
    font-family: var(--navtext);
}

.sub-amount {
    font-size: 20px;
}

.total-amount {
    font-size: 24px
}